*.o
*.d
*-dev
*-rel
*.csv
.*
.Rproj.user
*~
*.png
*.eps
a.out
*.old
*.Rproj
output*.csv
blossom5-v1.0.src/
partnermatch
graph.txt
output.txt
*.tar
cleanstderr*
D0*.*
tables.tex
positions.ods
simulate
#*
*.ods
